/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.container {
  min-height: 100vh;
  background-image: url("background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

// セッションエリア
.session_form_area {
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;

  &__content {
    text-align: center;
    position: relative;
    top: 100px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #28a745;
    padding-bottom: 30px;
    border-radius: 5px;
    h2 {
      background: #28a745;
      color: white;
      padding: 10px;
    }
    .field {
      margin-top: 20px;
    }
    .actions {
      margin: 20px 0;
    }
    .btn {
      padding: 5px 40px;
    }
  }
}
