// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// show
.detail_choice {
  display: flex;
  justify-content: space-around;
  p {
    width: 50%;
    text-align: center;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
  }
  &__gear {
    background: silver;
  }
}

.plan_gear {
  display: none;
}
