// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.user_show_area {
}
.profile_area {
  background: cornflowerblue;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  &__name {
    font-size: 30px;
  }
}

// エディット
.user_edit_area {
  width: fit-content;
  margin: 0 auto;
  position: relative;
  top: 80px;
  border-radius: 5px;
  border: 1px solid #1e7e34;
  &__title {
    width: 100%;
    text-align: center;
    background: #1e7e34;
    color: white;
  }
  &__form {
    margin: 0 auto;
    &__item {
      padding: 20px;
    }
    .edit_name input {
      width: 300px;
    }
  }
}
