// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.user_show_area {
  min-height: 100vh;
  position: relative;
  top: 80px;
}
.profile_area {
  background: cornflowerblue;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  &__name {
    font-size: 30px;
  }
}

// エディット
.user_edit_area {
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 100px;
  padding-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #1e7e34;
  &__title {
    text-align: center;
    background: #1e7e34;
    color: white;
    padding: 10px 0;
  }
  &__form {
    width: 50%;
    margin: 0 auto;
    &__item {
      margin: 50px;
    }
  }
}
